build
__pycache__
.vscode
main
*main.bpf.c
*user.h
*.skel.h
*syscall_structures.h
*syscall_enum.h
vmlinux.h
*sizer
*sizes
*handler.c
output.bin

# Latex
*.toc
*.ptc
*.log
*.aux
*.bbl
*.blg

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
